<div class="container-fluid">

  <p>予定の確保に失敗しました。</p>
  <ul>
    <% @fixed_schedule.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

  <%= link_to "戻る", mng_worker_schedule_arrange_path(@worker, @schedule) %>

</div>
